<div id="new-question-area">
  <form id="new_question_form" method="POST" action="/questions/new">

    <div>
      <label for="question-text">What is your question?</label>
      <input id="new-question-text" type="text" name="question_text" placeholder="Ask Yoda, you must.">
    </div>

    <input id="new_question_button" type="submit" value="GO">
  </form>
</div>


<div id="ask-page-header-photo">
</div>
