<div id='background'>
  <div id="new-question-area">
    <form id="new_question_form" method="POST" action="/questions/new">

      <div>
       <!--  <label for="question-text">What is your question?</label> -->
        <input id="new-question-text" type="text" name="question_text" placeholder="Ask Yoda, you must.">
      </div>
     <div id='q_button'>
        <input id="new_question_button" type="submit" value="Choose Tags">
      </div>
    </form>
  </div>

  	<div class='tag_partial_container'>
  		<%= erb :'/tags/_tags',locals: {tags: @tags}, layout: false %>
  	</div>


</div>
  <div id="ask-page-header-photo">
</div>
</div>
