<div>
  <form id="new_question_form" method="POST" action="/questions/new">

    <div>
      <label for="question-text">whats your question?</label>
      <input id="question-text" type="text" name="question_text" placeholder="type your question here">
    </div>

    <input id="new_question_button" type="submit" value="submit question">
  </form>
</div>
