
<div id='background'>
  <div id="new-question-area">
    <form id="new_question_form" method="POST" action="/questions/new">


      <div>
       <!--  <label for="question-text">What is your question?</label> -->
        <input id="new-question-text" type="text" name="question_text" placeholder="Ask Yoda, you must.">
      </div>
  <div>
  <%= erb :'/tags/_tags',locals: {tags: @tags}, layout: false %>
  </div>
      <div id='q_button'>
        <input id="new_question_button" type="submit" value="Choose Tags">
      </div>
    </form>
  </div>
  <!-- <img id='new_q_bg' src='/images/maxresdefault.jpg'> -->

</div>
  <div id="ask-page-header-photo">
</div>
</div>
