<div id = "comments-in-comments-section">
  <% question.comments.each do |comment| %>
      <p><%= comment.comment_text %> by <a href="/users/<%=comment.user_id%>"><%= User.find_by(id: comment.user_id).username%></a> on <%=comment.created_at %></p>
  <% end %>
  <% if question.comments.empty? %>
      <p> No comments this question has! </p>
  <% end %>
</div>

<% if logged_in? %>
  <a href="/comments/new" id="new-comment-link-question" class="new-comment-link">Add a comment</a>
<% end %>
