  <form id="new_comment_form" method="POST" action="/comments/new">
      <textarea id="your_comment" name="comment[comment_text]" placeholder="type your comment here"></textarea>
      <input type="hidden" name="comment[user_id]" value="<%=current_user.id%>">
      <input type="hidden" name="comment[commentable_type]" value="<%=@commentable_type%>">
      <input type="hidden" name="comment[commentable_id]" value="<%=@commentable_id%>">
      <input type="submit" value="Submit Answer">
  </form>