#user-content-container {
  border-style: solid;
  border-color: black;
  height: 24rem;
}

#user_show_background {
  z-index: -10;
  background-image: url('http://editor.michelsonrealty.com/generator/tmp/07k4a3jq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#profile-view {
  width: 100%;
  position: relative;
  display: inline-block;
  top: 1rem;
  left: 2.5rem;
}

#profile-pic {
  display: inline-block;
  position: relative;
  width: 16rem;
  height: 16rem;
}

#tab-links {
  display: inline-block;
  position: absolute;
  left: 23rem;
  top: 0;
  /*border-style: solid;
  border-color: black;*/
}

#tab-links a {
  color: #60452E;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 2.3rem;
}

#tab-links a:hover {
  color: #F8D691;
}

#user-questions-tab-data {
  display: inline-block;
  position: absolute;
  top: 3rem;
  left: 23rem;
  /*margin: 0 auto;*/
}

#user-questions-tab-data a {
  color: #60452E;
}

#user-questions-tab-data a:hover {
  color: #F8D691;
}

#user-answers-tab-data a {
  color: #60452E;
}

#user-answers-tab-data a:hover {
  color: #F8D691;
}

#user-history-tab-data {
  color: #60452E;
}

#user-history-tab-data a {
  color: #60452E;
}

#user-history-tab-data a:hover {
  color: #F8D691;
}

#user-answers-tab-data {
  display: inline-block;
  position: absolute;
  top: 3rem;
  left: 23rem;
}

#user-history-tab-data {
  display: inline-block;
  position: absolute;
  top: 3rem;
  left: 23rem;
}

#user-favorites-tab-data {
display: inline-block;
  position: absolute;
  top: 3rem;
  left: 23rem;
}

#edit-delete-user-links {
  position: absolute;
  display: inline-block;
}

#edit-delete-user-links a {
  color: white;
  margin-right: 5rem;
}

#edit-delete-user-links a:hover {
  color: #008000;
}

.list-of-things {
  width: 100%;
}

#login_form {
	display: none;
}

.full-width {
  max-width: 1400px;
}

#header {
  background-color: #60452E;
  color: #fff;
  padding: 2rem 4rem;
}

@font-face {
  font-family: "spaceage";
  src: url("fonts/spaceage.ttf") ;
}

.top-bar-title {
  font-family: "spaceage";
}

.footer {
  background-color: #60452E;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}

#homepage-header-photo {


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}



#main-area {
  height: auto;
}

.homepage-questions {

  color: white;
  position: absolute;
  display: inline-block;
  height: 10%;
  width: 10%;
  z-index: 1;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#find_questions_button {
  background-color: #78DF3E;
  border:none;
  font-size:30px;

}

#ask-button-homepage {
  background-color: #78DF3E;
  border-radius: 25px;
  width: auto;
  min-width: 270px;
  height: auto;
}

#find-button-homepage {
  background-color: #78DF3E;
  border-radius: 25px;
  width: auto;
  height: auto;
}


#home_link {
  color: white;
}

#home_link:hover {
  color: green;
}

.stats {
  text-align: center;
}

#quest_info {
  text-align: center;
}

#ask_background{
  z-index: -10;
  background-image: url('http://editor.michelsonrealty.com/generator/tmp/07k4a3jq.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#ask_button {
  background-color: #78DF3E;
  border:none;
  font-size:30px;
}

#find-button-homepage {
  top: 30%;
  left: 20%;

}

#ask-button-homepage {
  left: 20%;
  top: 50%;
}

#ask-page-header-photo {
  z-index: -10;
  background-image: url('https://i.ytimg.com/vi/voWpbz1De_M/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#new-question-area {
  top: 30%;
  left: 20%;
  position: fixed;
  display: block;
  height: 10%;
  width: 100%;
  z-index: 1;
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

#new-question-text {
  width: 50%;
  margin-left: 5%;
  text-align: center;

}


#questions-list-section {
  background-image: url('http://editor.michelsonrealty.com/generator/tmp/07k4a3jq.png');
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem 0rem 4rem 0rem;

}

#register-bg {
   background-image: url('http://editor.michelsonrealty.com/generator/tmp/07k4a3jq.png');
  background-repeat: no-repeat;
  background-position: right;
  padding: 2rem 0rem 4rem 0rem;
}

.top-bar-right {
  background-color: #60452E
}

.link-class {
  background-color: #78DF3E;
  padding: 0.3rem;
  border: 2px solid black;
  text-align: center;
  color: black;
  border-radius: 10%;
}

.login-div {
  display: inline-block;
  margin-right: 0.2rem;
}

#submit-button {
  color: black;
}

#login-form {
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#login {
  background-color: #60452E;
}

.titles {
  text-align: center;
}

.questions {
color: #555E5B;
}

#answer-comment {
  margin-left: 20px;
}

.user_buttons {
  background-color: #60452E;
  color: white;
}

.user_buttons:hover {
  color: green;
}

#ask_a_q {
  text-align: center;
  font-size: 1.6rem;
}

#q_link {
  color: black;
  text-decoration: underline;
}

#question-page-asker-img {
  height: 100px;
  width: auto;
}

#comments-section {
  margin-left: 10%;
}

.answer-comments-section {
  margin-left: 5%;
}

.spacing {
  text-align: right;
  margin-bottom: 20px;
}

#answer-wrapper {
  background-color: rgba(255,255,255,0.5);
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom:10px;
}

#answers-section {
  border-top: solid black 2px;
}

.vote-button {
  height: 50px;
}

#question-stats {
  margin-top: 50px;
}

#new_q_bg {
  width: 100%;
}

#q_button {
  text-align: left;
  padding-left: 29%
}

#new_session_div {
  background-image: url('/images/desert_bg.png');
}

#log_div {
  text-align: center;

}

.tag {
  background-color: rgba(255,255,255,0.5);
  height: auto;
  width: auto;
  text-align: center;
  color: rgb(64, 58, 51);
}
