<main>

<h3>Username</h3>
<p>Member since : XXX</p>
<img src = "http://blog.on.com/wp-content/uploads/2014/01/profile-pic.jpg">
<p>Number of questions asked: ___</p>
<p>Number of answers given: ___</p>

<div>
  <!-- insert questions asked by user -->
</div>

<div>
  <!-- insert answers given by user -->
</div>

</main>