<div>
  <form id="edit_answer_form" method="POST" action="/answers/<%=@answer.id%>/edit">

    <div>
      <label for="question-text">Edit your answer below:</label>
      <input id="question-text" type="text" name="question_text" value="<%=@answer.answer_text%>">
      <input type="hidden" name="answer_id" value="<%=@answer.id%>">
    </div>

    <input id="new_question_button" type="submit" value="Submit Edits">
  </form>
</div>
