<div id="ask-button-homepage" class="small-6 large-2 columns homepage-questions">
  <p>ASK</p>
  </div>

<div id="find-button-homepage" class="small-6 large-2 columns homepage-questions">
  <p>FIND ANSWERS</p>
  </div>

<div id="homepage-header-photo">
</div>

