<div id="ask-button-homepage" class="small-6 large-2 columns homepage-questions">
  <form id="ask-button" method="GET" action="/questions/new">
    <input id="ask_button" type="submit" value="ASK">
  </form>
</div>

<div id="find-button-homepage" class="small-6 large-2 columns homepage-questions">
  <form id="find-questions-button" method="GET" action="/questions/index">
    <input id="find_questions_button" type="submit" value="FIND ANSWERS">
  </form>
</div>

<div id="homepage-header-photo">
</div>
