  <form id="ask-button" method="GET" action="/questions/new">
<div id="ask-button-homepage" class="button small-6 large-2 columns homepage-questions">
    <input id="ask_button" type="submit" value="ASK">
</div>
  </form>

  <form id="find-questions-button" method="GET" action="/questions/index">
<div id="find-button-homepage" class="button small-6 large-2 columns homepage-questions">
    <input id="find_questions_button" type="submit" value="FIND ANSWERS">
</div>
  </form>

<div id="homepage-header-photo">
</div>
