<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/foundation.min.css">
<link rel="stylesheet" href="css/app.css">

<link rel="stylesheet" href="js/foundation.min.js">
<link rel="stylesheet" href="js/app.js"> -->
  <title>Questions + Answers</title>
</head>

<body>
    <header>
      <h1>Questions + Answers</h1>
      <nav>
        <ul>
          <% if logged_in? %>
            <li>Logout</li>
            <li>Username</li>
          <% else %>
            <li>Login</li>
            <li>Register</li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <nav>
        <ul>
          <li>About</li>
          <li>Contact</li>
          <li>Feedback</li>
        </ul>
      </nav>
    </footer>

</body>

</html>
