<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/foundation.min.css">


    <script src="/js/app.js"></script>
    <script src="/js/foundation.min.js"></script>
  <title>Questions + Answers</title>
</head>

<body>
    <header class="top-bar">
      <div class="title-nav-wrapper">
      <h1 class="top-bar-title">Questions + Answers</h1>
      <nav>
        <ul class="menu top-bar-right">
          <% if true %>
            <li>Logout</li>
            <li>Username</li>
          <% else %>
            <li>Login</li>
            <li>Register</li>
          <% end %>
        </ul>
      </nav>
    </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <nav>
        <ul class="menu">
          <li>About</li>
          <li>Contact</li>
          <li>Feedback</li>
        </ul>
      </nav>
    </footer>

</body>

</html>
